<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Admin/fragments/head :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="Admin/fragments/header :: header"></div>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="Admin/fragments/aside :: aside"></div>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Create Category</h3>
                        </div>


                        <form role="form" method="post" th:action="@{/admin/add_category}" th:object="${category}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="categoryName">Category Name</label>
                                    <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category Name"/>
                                </div>
                                <div class="form-group">
                                    <label>Category Status</label>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="inlineRadioTrue" name="categoryStatus" value="1"/>
                                        <label class="form-check-label" for="inlineRadioTrue">True</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="inlineRadioFalse" name="categoryStatus" value="0"/>
                                        <label class="form-check-label" for="inlineRadioFalse">False</label>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </section>
        <section class="content">

            <!-- Default box -->
            <div class="box">

                <!--                <div class="box-body">-->
                <!--                    Chào mừng đến với trang danh mục-->
                <!--                </div>-->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="Admin/fragments/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="Admin/fragments/script :: script"></div>
</body>
</html>

